Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

docs(installation): add vaultwarden admin credentials
  docs/installation/development-sandbox.md
Due: none

chore(ansible): rename argocd crd task
  ansible/roles/apps_argocd/tasks/main.yaml
Due: none

chore(ansible): tag all cloud application
  ansible/salamandre.yaml
Due: none

docs(installation): list new application can be exclude
  docs/installation/development-sandbox.md
Due: none

fix(scripts): dedupe diff charts
  scripts/charts/diff.sh
Due: none

chore(ansible): add template prod host_vars
  .gitignore
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  docs/installation/production/prerequisites.md
Due: none

docs(installation): specify baku domain on /etc/hosts
  docs/installation/development-sandbox.md
Due: none

feat(apps): deploy adguard
  ansible/host_vars/baku.yaml
  ansible/roles/baku_infrastructure/tasks/adguard.yaml
  ansible/roles/baku_infrastructure/tasks/main.yaml
  apps/baku/infrastructure/adguard/appValues.prod.yaml
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/readme.md
  apps/baku/infrastructure/adguard/values.dev.yaml
  apps/baku/infrastructure/adguard/values.yaml
  charts/adguard/.helmignore
  charts/adguard/Chart.yaml
  charts/adguard/templates/_helpers.tpl
  charts/adguard/templates/deployment.yaml
  charts/adguard/templates/ingress.yaml
  charts/adguard/templates/pvc.yaml
  charts/adguard/templates/secret.yaml
  charts/adguard/templates/service.yaml
  charts/adguard/templates/serviceaccount.yaml
  charts/adguard/templates/traefik/middleware.yaml
  charts/adguard/templates/traefik/tlsoptions.yaml
  charts/adguard/values.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

feat(apps): deploy adguard-proxy
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
  apps/salamandre/infrastructure/adguard-proxy/appValues.prod.yaml
  apps/salamandre/infrastructure/adguard-proxy/appValues.yaml
  apps/salamandre/infrastructure/adguard-proxy/readme.md
  apps/salamandre/infrastructure/adguard-proxy/values.dev.yaml
  apps/salamandre/infrastructure/adguard-proxy/values.yaml
  charts/adguard-proxy/.helmignore
  charts/adguard-proxy/Chart.yaml
  charts/adguard-proxy/templates/_helpers.tpl
  charts/adguard-proxy/templates/endpoint.yaml
  charts/adguard-proxy/templates/ingress.yaml
  charts/adguard-proxy/templates/middleware.yaml
  charts/adguard-proxy/templates/service.yaml
  charts/adguard-proxy/templates/tlsoptions.yaml
  charts/adguard-proxy/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): right reference argocd api token
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/salamandre.yaml
Due: none

fix(adguard): right vault secrets path
  ansible/roles/baku_infrastructure/tasks/adguard.yaml
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/readme.md
Due: apps:lint, apps:build, apps:deploy

fix(adguard): right host declaration
  apps/baku/infrastructure/adguard/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(adguard): right name service and create secret
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/secret.yaml
  charts/adguard/templates/service.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(adguard): right reference data volume
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(adguard): right ingress class and enable persistence
  apps/baku/infrastructure/adguard/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(nextcloud): configure wanted apps
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

fix(adguard): fill all default config
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/deployment.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(adguard): right expose admin panel
  apps/baku/infrastructure/adguard/appValues.prod.yaml
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/deployment.yaml
  charts/adguard/templates/ingress.yaml
  charts/adguard/templates/service.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(adguard): better check if file exist
  charts/adguard/templates/deployment.yaml
Due: charts:lint, charts:publish

fix(adguard): right http ingress configuration
  apps/baku/infrastructure/adguard/appValues.prod.yaml
  apps/baku/infrastructure/adguard/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(adguard): reduce querylog
  apps/baku/infrastructure/adguard/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(apps): deploy wallabag
  ansible/host_vars/salamandre.yaml
  ansible/roles/salamandre_cloud/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
  apps/salamandre/cloud/wallabag/appValues.yaml
  apps/salamandre/cloud/wallabag/readme.md
  apps/salamandre/cloud/wallabag/values.dev.yaml
  apps/salamandre/cloud/wallabag/values.yaml
  charts/wallabag/.helmignore
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/_helpers.tpl
  charts/wallabag/templates/deployment.yaml
  charts/wallabag/templates/external-secret.yaml
  charts/wallabag/templates/ingress.yaml
  charts/wallabag/templates/service.yaml
  charts/wallabag/templates/serviceaccount.yaml
  charts/wallabag/values.yaml
  docs/installation/development-sandbox.md
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(ansible): better manage nextcloud apps
  ansible/host_vars/salamandre.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

feat(ansible): deploy wallabag icon on nextcloud
  ansible/roles/salamandre_cloud/files/wallabag-dark.svg
  ansible/roles/salamandre_cloud/files/wallabag.svg
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

fix(wallabag): right persist data
  charts/wallabag/templates/deployment.yaml
  charts/wallabag/templates/pvc.yaml
  charts/wallabag/values.yaml
Due: charts:lint, charts:publish

fix(wallabag): right probes url
  charts/wallabag/templates/deployment.yaml
Due: charts:lint, charts:publish

fix(wallabag): custom entrypoint
  apps/salamandre/cloud/wallabag/appValues.yaml
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/configmap.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right install
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): remove wrong volume mount
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right create config file
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/configmap.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right start entrypoint
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right mount file
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): increase liveness probe
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right execute install
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/configmap.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): tweak command and readiness probe
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(wallabag): right script file
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/configmap.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): add missing wallabag namespace
  ansible/host_vars/salamandre.yaml
Due: none

fix(ansible): right update wallabag
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
Due: none

chore(wallabag): try fix install
  apps/salamandre/cloud/wallabag/values.dev.yaml
  charts/wallabag/Chart.yaml
  charts/wallabag/templates/configmap.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(ansible): disable wallabag
  ansible/host_vars/salamandre.yaml
  ansible/roles/salamandre_cloud/tasks/main.yaml
  docs/installation/development-sandbox.md
Due: none
