Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

apps:lint:
  stage: test
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh

apps:build:
  stage: build
  needs:
  - apps:lint
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - manifests/

apps:deploy:
  stage: deploy
  needs:
  - apps:build
  image:
    name: alpine/git:2.36.3
    entrypoint:
    - ''
  before_script:
  - git config user.email "${CI_EMAIL}"
  - git config user.name "${CI_USERNAME}"
  - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  ...

charts:lint:
  stage: test
  before_script:
  - ./scripts/charts/repositories.sh
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - charts/**/charts/
    - out/helm/

charts:publish:
  stage: deploy
  needs:
  - charts:lint
  before_script:
  - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
  - helm plugin install https://github.com/chartmuseum/helm-push
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh

chore(monitoring): remove invalid readme informations
  apps/salamandre/infrastructure/monitoring/readme.md
Due: none

chore(nextcloud): remove ransomware protection due to unmaintained
  ansible/host_vars/salamandre.yaml
Due: none

docs(monitoring): reference required vault secrets
  apps/salamandre/infrastructure/monitoring/readme.md
Due: none

chore(monitoring): use right prometheus crd version
  ansible/roles/common/tasks/monitoring.yaml
Due: none

chore(monitoring): merge def values and use inde grafana
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.lock
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/_helpers.tpl
  charts/monitoring/templates/external-secrets.yaml
  charts/monitoring/templates/grafana/datasource.yaml
  charts/monitoring/templates/servicemonitors/grafana.yaml
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): remove invalid fact in baku minio
  ansible/roles/baku_infrastructure/tasks/minio.yaml
Due: none

chore(ansible): dynamic loop over svc keys
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
Due: none

ci(charts): increase artifacts life for lints and repo
  .gitlab/ci/charts.yaml
Due: none

fix(monitoring): right reference values for labels
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/_helpers.tpl
  charts/monitoring/templates/external-secrets.yaml
  charts/monitoring/templates/grafana/datasource.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(monitoring): right name reference for datasource
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/_helpers.tpl
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(monitoring): right disable grafana in salamandre
  apps/salamandre/infrastructure/monitoring/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

chore(monitoring): release stable version
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/baku/infrastructure/monitoring/values.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
  charts/monitoring/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(make): use special make variable for run sub target
  Makefile
Due: none

chore(make): create dev folder only in dev env
  Makefile
Due: none

chore(ansible): remove debug arg in minio command
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
Due: none

fix(minio): right reference api endpoint
  ansible/roles/baku_infrastructure/tasks/minio.yaml
Due: none

chore(ansible): remove useless retrieve apps values
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

fix(ansible): ensure only restart existing resources
  ansible/roles/argocd_vault/tasks/main.yaml
Due: none

refactor(ansible): prevent logs secret from loop label
  ansible/roles/backup/tasks/barman.yaml
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
Due: none

fix(gitlab): disable https for backup s3
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(make): create folder instead echo it
  Makefile
Due: none

chore(make): use progress bar for curl
  Makefile
Due: none

fix(ansible): right skip restart task when is not needed
  ansible/roles/argocd_vault/tasks/main.yaml
Due: none

chore(monitoring): remove useless task
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
Due: none

fix(monitoring): add ca certificate for dev env
  ansible/baku.yaml
  ansible/roles/apps_cert-manager/templates/ca_tls.yaml.j2
  apps/baku/infrastructure/monitoring/appValues.dev.yaml
Due: apps:lint, apps:build, apps:deploy

chore(vagrant): increase nodes ressources
  vagrant/Vagrantfile
Due: none

feat(grafana): add k8s namespaces view dashboard
  apps/baku/infrastructure/monitoring/values.yaml
  grafana_dashboards/kubernetes/views_namespaces.json
Due: apps:lint, apps:build, apps:deploy

refactor(grafana): clean dashboard and use default datasource
  grafana_dashboards/kubernetes/views_global.json
  grafana_dashboards/kubernetes/views_namespaces.json
  grafana_dashboards/kubernetes/views_pods.json
  grafana_dashboards/kubernetes/volumes_cluster.json
  grafana_dashboards/minio.json
  grafana_dashboards/nodeexporter.json
  grafana_dashboards/traefik.json
  grafana_dashboards/victoriametrics/global.json
  grafana_dashboards/victoriametrics/vmagent.json
  grafana_dashboards/victoriametrics/vmalert.json
Due: none

fix(grafana): right handle oidc login
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(grafana): right override name
  apps/baku/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(monitoring): update chart in baku
  apps/baku/infrastructure/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(monitoring): use port instead ndd for split services
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/infrastructure/monitoring/values.yaml
  apps/baku/system/traefik/appValues.yaml
  apps/salamandre/infrastructure/monitoring/appValues.dev.yaml
  apps/salamandre/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(grafana): right list cluster values
  grafana_dashboards/nodeexporter.json
Due: none

fix(traefik): use different name for metrics port
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/system/traefik/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(grafana): increase resources requested
  apps/baku/infrastructure/monitoring/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(monitoring): tweak rules for correctly separate cluster
  apps/baku/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/general.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-apiserver-slos.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-prometheus-node-recording.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-state-metrics.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kubernetes-resources.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kubernetes-system-apiserver.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/vm-health.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/vmagent.yaml
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(grafana): set default refresh of dashboards
  grafana_dashboards/kubernetes/views_global.json
  grafana_dashboards/kubernetes/views_namespaces.json
  grafana_dashboards/kubernetes/views_pods.json
  grafana_dashboards/kubernetes/volumes_cluster.json
  grafana_dashboards/minio.json
  grafana_dashboards/nodeexporter.json
  grafana_dashboards/traefik.json
  grafana_dashboards/victoriametrics/global.json
  grafana_dashboards/victoriametrics/vmagent.json
  grafana_dashboards/victoriametrics/vmalert.json
Due: none

fix(grafana): right define pod resources
  apps/baku/infrastructure/monitoring/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(monitoring): correctly handle alert rules
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/monitoring/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(monitoring): notify on discord
  .gitignore
  ansible/inventories/dev/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/infrastructure/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy

Path conditions:
  apps:lint: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:build: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:deploy: any of: apps/**/*.yaml, charts/common-app/**/*
  charts:lint: any of: charts/**/*
  charts:publish: any of: charts/**/*
