Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

fix(gitlab): right define s3 url
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(gitlab): use right url for registry
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/readme.md
Due: apps:lint, apps:build, apps:deploy

fix(gitlab): use registry as proxy for download image
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(nextcloud): correct nextcloud setup
  ansible/host_vars/salamandre.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(backup): correct backup setup
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
Due: none

fix(cert-manager): restore use simple issuer for sebtiz13-issuer
  apps/salamandre/system/cert-manager/appValues.prod.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(adguard): disable baku dhcp
  apps/baku/infrastructure/adguard/appValues.prod.yaml
Due: apps:lint, apps:build, apps:deploy

chore(apps): update traefik, minio, external-secrets, gitlab-agent and mailhog
  apps/baku/infrastructure/minio/values.yaml
  apps/baku/system/traefik/values.yaml
  apps/salamandre/dev/mailhog/values.yaml
  apps/salamandre/infrastructure/gitlab-agent-homecluster/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/system/external-secrets/values.yaml
  apps/salamandre/system/traefik/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(argocd): update app and use new way for labeled namespaces
  ansible/host_vars/baku.yaml
  ansible/host_vars/salamandre.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/labeled_namespace/defaults/main.yaml
  ansible/roles/labeled_namespace/meta/argument_specs.yaml
  ansible/roles/labeled_namespace/tasks/main.yaml
  ansible/site.yaml
  apps/baku/infrastructure/adguard/values.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
  apps/salamandre/cloud/wallabag/values.yaml
  apps/salamandre/dev/mailhog/values.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  charts/common-app/templates/_helpers.tpl
  charts/common-app/templates/application.yaml
  charts/common-app/values.schema.json
  charts/common-app/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(ansible): fix lint errors
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
Due: none

fix(ansible): update dependencies
  ansible/requirements.txt
Due: none

docs(installation): add jq as requirement
  docs/installation/development-sandbox.md
  docs/installation/production/prerequisites.md
Due: none

fix(ansible): add missing state for link
  ansible/roles/backup/tasks/barman.yaml
Due: none

fix(make): right create/clean credentials
  Makefile
Due: none

chore(apps): update keycloak
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(cert-manager): update versions
  apps/salamandre/system/cert-manager/values.dev.yaml
  charts/cert-manager/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(gitlab): update version
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  charts/gitlab/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(gitlab): create namespace before deploy app
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
Due: none

chore(nextcloud): update versions
  ansible/host_vars/salamandre.yaml
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
  charts/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(nexcloud): apply security recommandation
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.yaml
  charts/nextcloud/templates/middlewares/headers.yaml
  charts/nextcloud/templates/middlewares/webfinger.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(gitlab): update chart dependencies lock
  charts/gitlab/Chart.lock
Due: charts:lint, charts:publish

chore(vaultwarden): update version
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(adguard): update version
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): update charts versions
  apps/baku/infrastructure/adguard/values.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/system/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): check if specific version is passed for k3s
  ansible/roles/common/tasks/k3s.yaml
Due: none

chore(apps): update versions
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab-agent-homecluster/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(adguard): update version
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(gitlab): update version
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  charts/gitlab/Chart.lock
  charts/gitlab/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(nextcloud): update version
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): update charts versions
  apps/baku/infrastructure/adguard/values.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(charts): deploy monitoring chart
  charts/monitoring/.helmignore
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/_helpers.tpl
  charts/monitoring/templates/external-secrets.yaml
  charts/monitoring/values.yaml
Due: charts:lint, charts:publish

fix(charts): right version for monitoring deps
  charts/monitoring/Chart.lock
  charts/monitoring/Chart.yaml
Due: charts:lint, charts:publish

fix(ansible): right execute argocd_vault on both server
  ansible/roles/argocd_vault/tasks/main.yaml
Due: none

fix(charts): right overwrite value of deps
  charts/monitoring/Chart.yaml
  charts/monitoring/values.yaml
Due: charts:lint, charts:publish

fix(ansibe): require sudo password
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
Due: none

fix(gitlab): remove useless custom registration token
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/readme.md
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy

fix(ansible): temporary disable certs validate for vault argocd
  ansible/salamandre.yaml
Due: none

docs(installation): update gitlab admin username
  docs/installation/post-installation.md
Due: none

refactor(ansible): use default machine ip for coredns and postgres
  ansible/inventories/dev/host_vars/salamandre.yaml
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/coredns/tasks/main.yaml
  ansible/roles/database/tasks/main.yaml
Due: none
