Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

apps:lint:
  stage: test
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh

apps:build:
  stage: build
  needs:
  - apps:lint
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - manifests/

apps:deploy:
  stage: deploy
  needs:
  - apps:build
  image:
    name: alpine/git:2.36.3
    entrypoint:
    - ''
  before_script:
  - git config user.email "${CI_EMAIL}"
  - git config user.name "${CI_USERNAME}"
  - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  ...

charts:lint:
  stage: test
  before_script:
  - ./scripts/charts/repositories.sh
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 1 hours
    paths:
    - charts/**/charts/
    - out/helm/

charts:publish:
  stage: deploy
  needs:
  - charts:lint
  before_script:
  - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
  - helm plugin install https://github.com/chartmuseum/helm-push
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh

refactor(k3s): use config file and improve update
  ansible/baku.yaml
  ansible/group_vars/all.yaml
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/apps_cert-manager/tasks/main.yaml
  ansible/roles/apps_external-secrets/tasks/main.yaml
  ansible/roles/apps_system/tasks/main.yaml
  ansible/roles/apps_vault/handlers/main.yaml
  ansible/roles/apps_vault/tasks/argocd.yaml
  ansible/roles/apps_vault/tasks/auth_kubernetes.yaml
  ansible/roles/apps_vault/tasks/deploy.yaml
  ansible/roles/apps_vault/tasks/external-secrets.yaml
  ansible/roles/apps_vault/tasks/initialize.yaml
  ansible/roles/argocd_cluster/tasks/main.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/common/defaults/main.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/common/tasks/monitoring.yaml
  ansible/roles/common/templates/k3s_config.j2.yaml
  ansible/roles/coredns/tasks/main.yaml
  ansible/roles/kubed_cluster/tasks/main.yaml
  ansible/roles/kubed_kubeconfig/tasks/main.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
  ansible/roles/salamandre_dev/tasks/main.yaml
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
  ansible/roles/salamandre_infrastructure/tasks/monitoring.yaml
  ansible/roles/traefik_auth/tasks/main.yaml
  ansible/salamandre.yaml
Due: none

fix(monitoring): correct job metrics for k3s and dedup metrics
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-apiserver-availability.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-apiserver-burnrate.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-apiserver-histogram.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-apiserver-slos.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kube-scheduler.rules.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kubernetes-system-apiserver.yaml
  charts/monitoring/templates/victoria-metrics-k8s-stack/rules/kubernetes-system-kubelet.yaml
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(grafana): little tweak dashboards
  grafana_dashboards/kubernetes/views_global.json
  grafana_dashboards/kubernetes/volumes_cluster.json
  grafana_dashboards/victoriametrics/vmagent.json
  grafana_dashboards/victoriametrics/vmalert.json
Due: none

chore(monitoring): update to last version
  apps/baku/infrastructure/monitoring/values.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(dashboards): right calculate spaces when all cluster
  grafana_dashboards/kubernetes/volumes_cluster.json
Due: none

fix(monitoring): keep name label in kubelet metrics
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/baku/infrastructure/monitoring/values.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
  charts/monitoring/Chart.yaml
  charts/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(minio): increase space size
  apps/salamandre/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(dashboards): right color for threshold pvc % used
  grafana_dashboards/kubernetes/volumes_cluster.json
Due: none

fix(backup): prevent change permissions on mc config
  ansible/roles/backup/tasks/barman.yaml
Due: none

fix(ansible): check if kubernetes is installed before retrieve version
  ansible/roles/common/tasks/k3s.yaml
Due: none

refactor(ansible): update to last debian, postgres and kubernetes
  ansible/requirements.txt
  ansible/roles/backup/files/scripts/barman-restore.sh
  ansible/roles/common/tasks/zfs.yaml
  ansible/roles/database/defaults/main.yaml
  ansible/roles/database/files/create-user.sh
  ansible/roles/database_access/tasks/main.yaml
  vagrant/Vagrantfile
Due: none

fix(ansible): prevent deploy monitoring if baku is not present
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
Due: none

chore(ansible): update to ansible 9.1
  ansible/requirements.txt
  ansible/roles/backup/tasks/barman.yaml
Due: none

feat(charts): deploy zitadel chart
  charts/zitadel/.helmignore
  charts/zitadel/Chart.lock
  charts/zitadel/Chart.yaml
  charts/zitadel/templates/_helpers.tpl
  charts/zitadel/templates/initjob.yaml
  charts/zitadel/values.yaml
  scripts/charts/repositories.sh
Due: charts:lint, charts:publish

chore(zitadel): bump dev version
  charts/zitadel/Chart.yaml
Due: charts:lint, charts:publish

chore(zitadel): fix repository
  charts/zitadel/Chart.yaml
  scripts/charts/repositories.sh
Due: charts:lint, charts:publish

chore(zitadel): add external secret
  charts/zitadel/Chart.yaml
  charts/zitadel/templates/external-secrets.yaml
  charts/zitadel/values.yaml
Due: charts:lint, charts:publish

chore(zitadel): support annotations for external secret
  charts/zitadel/Chart.yaml
  charts/zitadel/templates/external-secrets.yaml
  charts/zitadel/values.yaml
Due: charts:lint, charts:publish

refactor(ansible): remove needed vault vars
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/vault_secrets/meta/argument_specs.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
Due: none

chore(ansible): fix lint errors
  ansible/salamandre.yaml
Due: none

refactor(script): use pwgen for generate passwords
  docs/installation/development-sandbox.md
  docs/installation/production/prerequisites.md
  scripts/gen-credentials.sh
Due: none

refactor(apps): replace keycloak by zitadel
  Makefile
  README.md
  ansible/host_vars/salamandre.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
  ansible/roles/oidc/files/zitadel-actions/groupsClaim.js
  ansible/roles/oidc/handlers/main.yaml
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/oidc/tasks/main.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/oidc/tasks/zitadel.yaml
  ansible/roles/oidc/tasks/zitadel_setup.yaml
  ansible/roles/oidc_access/meta/argument_specs.yaml
  ansible/roles/oidc_access/tasks/main.yaml
  ansible/salamandre.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.dev.yaml
  apps/salamandre/infrastructure/keycloak/values.prod.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/zitadel/appValues.yaml
  apps/salamandre/infrastructure/zitadel/readme.md
  apps/salamandre/infrastructure/zitadel/values.dev.yaml
  apps/salamandre/infrastructure/zitadel/values.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/installation/production/deployment.md
  docs/references/architecture/overview.md
  docs/references/roadmap.md
  manifests/salamandre/keycloak.yaml
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy

chore(ansible): set store argocd api token in right play
  ansible/salamandre.yaml
Due: none

chore(scripts): check if tools is installed
  scripts/ansible.sh
  scripts/gen-credentials.sh
  scripts/gitlab-agent.sh
Due: none

chore(male): handle fail downloaded of minio client
  Makefile
Due: none

refactor(charts): use common chart for external-secrets
  ansible/roles/apps_vault/tasks/external-secrets.yaml
  ansible/roles/oidc/tasks/zitadel.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/zitadel/appValues.yaml
  apps/salamandre/infrastructure/zitadel/values.dev.yaml
  charts/_dependencies/external-secrets/.helmignore
  charts/_dependencies/external-secrets/Chart.yaml
  charts/_dependencies/external-secrets/templates/_helpers.tpl
  charts/_dependencies/external-secrets/templates/external-secrets.yaml
  charts/_dependencies/external-secrets/values.yaml
  charts/gitlab/Chart.lock
  charts/gitlab/Chart.yaml
  charts/gitlab/values.yaml
  charts/kubed/Chart.lock
  charts/kubed/Chart.yaml
  charts/kubed/templates/external-secrets.yaml
  charts/kubed/values.yaml
  charts/monitoring/Chart.lock
  charts/monitoring/Chart.yaml
  charts/monitoring/templates/external-secrets.yaml
  charts/monitoring/values.yaml
  charts/zitadel/Chart.lock
  charts/zitadel/Chart.yaml
  charts/zitadel/templates/external-secrets.yaml
  charts/zitadel/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(chart): right name for config secret key
  charts/zitadel/Chart.yaml
  charts/zitadel/templates/initjob.yaml
Due: charts:lint, charts:publish

fix(ansible): wait application restarted
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/kubed_cluster/tasks/main.yaml
  ansible/roles/oidc/tasks/zitadel.yaml
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
Due: none

fix(config-syncer): right helm version
  apps/baku/system/config-syncer/values.dev.yaml
  apps/salamandre/system/config-syncer/values.dev.yaml
Due: apps:lint, apps:build, apps:deploy

revert(config-syncer): re use old kubed
  apps/baku/system/config-syncer/values.dev.yaml
  apps/baku/system/config-syncer/values.yaml
  apps/salamandre/system/config-syncer/values.dev.yaml
  apps/salamandre/system/config-syncer/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(apps): remove avp in most apps
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/admin.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/apps_argocd/tasks/setup.yaml
  ansible/roles/apps_external-secrets/tasks/main.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/oidc/tasks/main.yaml
  ansible/roles/oidc/tasks/zitadel.yaml
  ansible/salamandre.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/argocd/appValues.dev.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
  apps/salamandre/infrastructure/zitadel/appValues.yaml
  apps/salamandre/infrastructure/zitadel/readme.md
  apps/salamandre/infrastructure/zitadel/values.dev.yaml
  apps/salamandre/infrastructure/zitadel/values.yaml
  apps/salamandre/system/cert-manager/appValues.dev.yaml
  apps/salamandre/system/cert-manager/appValues.prod.yaml
  apps/salamandre/system/cert-manager/appValues.yaml
  apps/salamandre/system/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(argocd): add label to vm ca to be correctly included
  ansible/roles/apps_cert-manager/templates/ca_tls.yaml.j2
Due: none

chore(ansible): reference all collections
  ansible/requirements.yaml
Due: none

revert(config-syncer): re use old kubed
  ansible/roles/cs_kubeconfig/tasks/main.yaml
  apps/salamandre/system/config-syncer/appValues.dev.yaml
  apps/salamandre/system/config-syncer/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(zitadel): right restart and es names
  ansible/roles/oidc/tasks/zitadel.yaml
Due: none

fix(nextcloud): automatically add missing indices
  ansible/roles/salamandre_cloud/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud_apps.yaml
Due: none

fix(nextcloud): right value for disable tls in office
  ansible/roles/salamandre_cloud/tasks/nextcloud_apps.yaml
Due: none

Path conditions:
  apps:lint: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:build: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:deploy: any of: apps/**/*.yaml, charts/common-app/**/*
  charts:lint: any of: charts/**/*
  charts:publish: any of: charts/**/*
