Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

apps:lint:
  stage: test
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh

apps:build:
  stage: build
  needs:
  - apps:lint
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - manifests/

apps:deploy:
  stage: deploy
  needs:
  - apps:build
  image:
    name: alpine/git:2.36.3
    entrypoint:
    - ''
  before_script:
  - git config user.email "${CI_EMAIL}"
  - git config user.name "${CI_USERNAME}"
  - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  ...

charts:lint:
  stage: test
  before_script:
  - ./scripts/charts/repositories.sh
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - charts/**/charts/
    - out/helm/

charts:publish:
  stage: deploy
  needs:
  - charts:lint
  before_script:
  - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
  - helm plugin install https://github.com/chartmuseum/helm-push
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh

fix(gitlab): right resources request
  apps/salamandre/infrastructure/gitlab/appValues.prod.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from 404e8465
  manifests/salamandre/gitlab.yaml
Due: none

fix(gitlab): right batch api version
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  charts/gitlab/Chart.yaml
  charts/gitlab/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

build: deploy manifests from 240af54b
  manifests/salamandre/gitlab.yaml
Due: none

feat(ansible): deploy zfs storage classes
  ansible/roles/apps_system/files/zfspv-snapclass.yaml
  ansible/roles/apps_system/tasks/main.yaml
  ansible/roles/apps_system/templates/openebs-zfspv.yaml.j2
  ansible/roles/apps_system/templates/zfspv-block.yaml.j2
  docs/README.md
  docs/references/storage.md
Due: none

fix(ansible): use folder for backup log
  ansible/roles/backup/tasks/minio.yaml
Due: none

fix(ansible): use separate folder for minio config
  ansible/roles/backup/defaults/main.yaml
  ansible/roles/backup/tasks/barman.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/barman.conf.j2
  ansible/roles/backup/templates/scripts/backup.sh
Due: none

fix(apps): use zfs storage class
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): use right mc config for barman
  ansible/roles/backup/tasks/barman.yaml
Due: none

docs: right reference backup and restore page
  docs/README.md
Due: none

fix(gitlab): use right url for gitlab s3
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
Due: none

fix(ansible): right update keycloak clients secrets
  ansible/roles/oidc/tasks/keycloak.yaml
Due: none

fix(gitlab): right logout uri
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(gitlab): restart toolbox when secrete rotate
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
Due: none

build: deploy manifests from d5bb7786
  manifests/baku/adguard.yaml
  manifests/baku/minio.yaml
  manifests/salamandre/gitlab.yaml
  manifests/salamandre/minio.yaml
  manifests/salamandre/nextcloud.yaml
Due: none

fix(argocd): add role for operator
  apps/salamandre/infrastructure/argocd/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from 30b87f7d
  manifests/salamandre/argocd.yaml
Due: none

fix(gitlab): right connect registry to s3
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): use overwrite for mc mirror
  ansible/roles/backup/templates/barman.conf.j2
Due: none

fix(nextcloud): add missing image preview provider
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  charts/nextcloud/Chart.yaml
  charts/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(adguard): add missing dns certificate
  apps/salamandre/system/cert-manager/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from a529b47d
  manifests/salamandre/cert-manager.yaml
  manifests/salamandre/gitlab.yaml
  manifests/salamandre/nextcloud.yaml
Due: none

fix(adguard): use right certificate
  apps/salamandre/infrastructure/adguard-proxy/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(gitlab): add missing tls for pages
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from 23d683f1
  manifests/salamandre/adguard-proxy.yaml
  manifests/salamandre/gitlab.yaml
Due: none

fix(adguard): right link endpoint and service
  apps/salamandre/infrastructure/adguard-proxy/values.dev.yaml
  apps/salamandre/infrastructure/adguard-proxy/values.yaml
  charts/adguard-proxy/Chart.yaml
  charts/adguard-proxy/templates/endpoint.yaml
  charts/adguard-proxy/templates/ingress.yaml
  charts/adguard-proxy/templates/service.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

build: deploy manifests from 4bc0ad4a
  manifests/salamandre/adguard-proxy.yaml
Due: none

fix(cert-manager): add preferred chain
  apps/salamandre/system/cert-manager/appValues.prod.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  apps/salamandre/system/cert-manager/values.yaml
  charts/cert-manager/Chart.yaml
  charts/cert-manager/templates/_helpers.tpl
  charts/cert-manager/templates/issuer.yaml
  charts/cert-manager/templates/secret.yaml
  charts/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

build: deploy manifests from f56f0010
  manifests/salamandre/cert-manager.yaml
Due: none

fix(gitlab): right policies for s3
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from 7d2ece5a
  manifests/salamandre/minio.yaml
Due: none

chore(argocd): add name to repositories
  apps/salamandre/infrastructure/argocd/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from c6c711d2
  manifests/salamandre/argocd.yaml
Due: none

feat(charts): deploy common-app
  .gitlab/ci/charts.yaml
  charts/common-app/values.yaml
  scripts/charts/all.sh
  scripts/charts/diff.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

feat(cert-manager): add lets encrypt issuers
  apps/salamandre/system/cert-manager/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): add missing coredns domain for gitlab kas
  ansible/host_vars/salamandre.yaml
Due: none

fix(cert-manager): use cluster issuer
  apps/salamandre/system/cert-manager/appValues.prod.yaml
Due: apps:lint, apps:build, apps:deploy

feat(ansible): create script for db user
  ansible/roles/database/files/create-user.sh
  ansible/roles/database/tasks/main.yaml
Due: none

fix(gitlab): right name for storage access and secret keys
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

Path conditions:
  apps:lint: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:build: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:deploy: any of: apps/**/*.yaml, charts/common-app/**/*
  charts:lint: any of: charts/**/*
  charts:publish: any of: charts/**/*
