Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

chore(docs): update tasks lists
  README.md
  docs/references/roadmap.md
Due: none

refactor(tf): use domain instead of ssh host for kubeconfig
  terraform/salamandre/main.tf
Due: none

fix(gitlab): right variables access for labels
  apps/salamandre/infrastructure/gitlab/values.vm.yaml
  charts/gitlab/Chart.yaml
  charts/gitlab/templates/external-secrets.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

docs(development): add dns configuration
  docs/installation/development-sandbox.md
Due: none

docs(roadmap): move secrets rotation to unplanned
  docs/references/roadmap.md
Due: none

docs(roadmap): specify apps for baku cluster
  docs/references/roadmap.md
Due: none

docs(development): rework dnsmasq section
  docs/installation/development-sandbox.md
Due: none

fix(baku): right load salamandre kubeconfig
  terraform/baku/providers.tf
Due: none

perf(vagrant): improve cross machine communication
  vagrant/Vagrantfile
Due: none

fix(make): right init baku
  Makefile
Due: none

feat(baku): add to argocd
  terraform/baku/.terraform.lock.hcl
  terraform/baku/argocd.tf
  terraform/baku/main.tf
  terraform/baku/providers.tf
  terraform/baku/traefik.tf
  terraform/baku/variables.tf
  terraform/baku/versions.tf
  terraform/baku/vm.tfvars
Due: none

refactor(scripts): remove useless oidc variable
  scripts/apps/_helm.sh
Due: none

refactor(apps): auo define dest server and use name instead url
  apps/baku/system/traefik/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  apps/salamandre/system/cert-manager/values.yaml
  apps/salamandre/system/external-secrets/values.yaml
  apps/salamandre/system/kubed/values.yaml
  apps/salamandre/system/openebs/values.yaml
  apps/salamandre/system/traefik/values.yaml
  charts/common-app/templates/application.yaml
  charts/common-app/values.schema.json
  scripts/apps/_helm.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

feat(tf): support merge kubeconfig
  docs/installation/development-sandbox.md
  terraform/baku/providers.tf
  terraform/common-modules/k3s_install/kubeconfig.tf
Due: none

fix(salamandre): deploy nothing if disable gitlab app
  terraform/salamandre/gitlab.tf
Due: none

chore(salamandre): remove useless gitlab resource
  terraform/salamandre/gitlab.tf
Due: none

feat(salamandre): allow disable minio
  terraform/salamandre/gitlab.tf
  terraform/salamandre/minio.tf
  terraform/salamandre/variables.tf
Due: none

feat(salamandre): allow disable keycloak
  terraform/salamandre/keycloak.tf
  terraform/salamandre/variables.tf
  terraform/salamandre/vault.tf
Due: none

fix(salamandre): restart argocd when keycloak is deployed
  terraform/salamandre/keycloak.tf
  terraform/salamandre/vault.tf
  terraform/salamandre/vm.tf
Due: none

fix(baku): wait argocd cluster before deploy traefik
  terraform/baku/traefik.tf
Due: none

feat(baku): deploy openebs
  apps/baku/system/openebs/appValues.yaml
  apps/baku/system/openebs/readme.md
  apps/baku/system/openebs/values.yaml
  docs/references/roadmap.md
  terraform/baku/openebs.tf
Due: apps:lint, apps:build, apps:deploy

feat(kubed): deploy on baku
  apps/baku/system/kubed/appValues.vm.yaml
  apps/baku/system/kubed/appValues.yaml
  apps/baku/system/kubed/readme.md
  apps/baku/system/kubed/values.vm.yaml
  apps/baku/system/kubed/values.yaml
  apps/salamandre/system/kubed/appValues.yaml
  apps/salamandre/system/kubed/values.vm.yaml
  charts/kubed/.helmignore
  charts/kubed/Chart.yaml
  charts/kubed/README.md
  charts/kubed/templates/NOTES.txt
  charts/kubed/templates/_helpers.tpl
  charts/kubed/templates/apiregistration.yaml
  charts/kubed/templates/cluster-role-binding.yaml
  charts/kubed/templates/cluster-role.yaml
  charts/kubed/templates/deployment.yaml
  charts/kubed/templates/external-secrets.yaml
  charts/kubed/templates/service.yaml
  charts/kubed/templates/serviceaccount.yaml
  charts/kubed/values.yaml
  terraform/baku/.terraform.lock.hcl
  terraform/baku/kubed.tf
  terraform/baku/providers.tf
  terraform/baku/versions.tf
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(kubed): make config secret optional
  apps/baku/system/kubed/values.vm.yaml
  apps/salamandre/system/kubed/values.vm.yaml
  charts/kubed/Chart.yaml
  charts/kubed/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

feat(make): allow reload vm
  Makefile
Due: none

focs(roadmap): update baku status
  docs/references/roadmap.md
Due: none

fix(baku): use right provider for kubed
  terraform/baku/kubed.tf
Due: none

feat(keycloak): add name to clients
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(keycloak): right vault client secret
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(apps): support multi cluster vault secrets
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/readme.md
  apps/salamandre/infrastructure/gitlab-agent/appValues.vm.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.yaml
  apps/salamandre/infrastructure/gitlab-agent/readme.md
  apps/salamandre/infrastructure/gitlab/appValues.vm.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/readme.md
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/readme.md
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/readme.md
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/system/cert-manager/appValues.production.yaml
  apps/salamandre/system/cert-manager/readme.md
  apps/salamandre/system/kubed/readme.md
  terraform/baku/kubed.tf
  terraform/salamandre/modules/vault/script.sh
  terraform/salamandre/scripts/vault/init.sh
  terraform/salamandre/values/vault/admin-policy.hcl
  terraform/salamandre/values/vault/argocd-policy.hcl
  terraform/salamandre/values/vault/operator-policy.hcl
  terraform/salamandre/values/vault/reader-policy.hcl
Due: apps:lint, apps:build, apps:deploy

feat(cert-manager): sync certificate on baku cluster
  apps/salamandre/system/cert-manager/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(salamandre): support multi env credentials
  terraform/baku/providers.tf
  terraform/salamandre/output.tf
Due: none

docs(roadmap): split beta with alpha stage
  README.md
  docs/references/roadmap.md
Due: none

feat(baku): deploy minio
  apps/baku/infrastructure/minio/appValues.vm.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/minio/readme.md
  apps/baku/infrastructure/minio/values.yaml
  apps/baku/system/traefik/appValues.yaml
  docs/references/roadmap.md
  terraform/baku/.terraform.lock.hcl
  terraform/baku/main.tf
  terraform/baku/minio.tf
  terraform/baku/namespaces.tf
  terraform/baku/output.tf
  terraform/baku/variables.tf
  terraform/baku/versions.tf
Due: apps:lint, apps:build, apps:deploy

refactor(make): create out folders and put tfstate in
  Makefile
Due: none

fix(salamandre): use cdn url for argocd crds
  terraform/salamandre/scripts/argocd-crds.sh
Due: none

refactor(vagrant): rename vms and cleanup file
  Makefile
  docs/installation/development-sandbox.md
  vagrant/Vagrantfile
Due: none

fix(apps): support multi cluster mount path
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/system/kubed/appValues.yaml
  terraform/salamandre/external-secrets.tf
Due: apps:lint, apps:build, apps:deploy

refactor(apps): add subdomain config in values file
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/appValues.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  charts/common-app/templates/_apps-helpers.tpl
  charts/common-app/templates/application.yaml
  charts/common-app/values.schema.json
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(keycloak): allow realm management to admin
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(keycloak): add gitlab client
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy
