Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

fix(apps): right manage ca certificate
  apps/salamandre/infrastructure/argocd/appValues.vm.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/vault/appValues.vm.yaml
Due: apps:lint, apps:build, apps:deploy

fix(kubed): right pass kubeconfig secret
  apps/salamandre/system/kubed/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

refactor: standardize environment name
  Makefile
  apps/baku/infrastructure/minio/appValues.dev.yaml
  apps/baku/system/kubed/appValues.dev.yaml
  apps/baku/system/kubed/values.dev.yaml
  apps/salamandre/infrastructure/argocd/appValues.dev.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab/appValues.prod.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/appValues.dev.yaml
  apps/salamandre/system/cert-manager/appValues.dev.yaml
  apps/salamandre/system/cert-manager/appValues.prod.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  apps/salamandre/system/kubed/appValues.dev.yaml
  apps/salamandre/system/kubed/values.dev.yaml
  charts/common-app/templates/_apps-helpers.tpl
  docs/installation/gitlab-agent.md
  docs/references/architecture/repository.md
  scripts/apps/_helm.sh
  scripts/gitlab-agent.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(baku): remove invalid destination server in openebs
  apps/baku/system/openebs/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(ansible): better name for ca tasks
  ansible/roles/apps_cert-manager/tasks/main.yaml
  ansible/roles/apps_cert-manager/templates/ca_tls.yaml.j2
Due: none

fix(argocd): right oidc logout
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): prevent useless argocd helm deploy
  ansible/roles/apps_argocd/tasks/main.yaml
Due: none

docs(installation): update required packages
  docs/installation/development-sandbox.md
  docs/installation/production/prerequisites.md
Due: none

fix(scripts): prevent regenerate existing credentials
  scripts/gen-credentials.sh
Due: none

fix(ansible): recreate argocd token if password change
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
Due: none

chore(ansible): right tags dependencies for gitlab
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
Due: none

feat(apps): deploy nextcloud
  ansible/host_vars/salamandre.yaml
  ansible/roles/salamandre_cloud/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/salamandre.yaml
  apps/salamandre/cloud/nextcloud/appValues.dev.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/readme.md
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  charts/nextcloud/.helmignore
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
  charts/nextcloud/templates/_helpers.tpl
  charts/nextcloud/templates/imaginary/deployment.yaml
  charts/nextcloud/templates/imaginary/service.yaml
  charts/nextcloud/templates/ingress.yaml
  charts/nextcloud/templates/job.yaml
  charts/nextcloud/templates/middlewares/cardav.yaml
  charts/nextcloud/templates/middlewares/chained.yaml
  charts/nextcloud/templates/middlewares/headers.yaml
  charts/nextcloud/templates/middlewares/webfinger.yaml
  charts/nextcloud/values.yaml
  docs/installation/post-installation.md
  scripts/charts/repositories.sh
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): right check if baku is deployed
  ansible/baku.yaml
Due: none

fix(nextcloud): pass all pod data to job
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.yaml
  charts/nextcloud/templates/job.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(nextcloud): make it full configurable
  apps/salamandre/cloud/nextcloud/appValues.prod.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.yaml
  charts/nextcloud/templates/_helpers.tpl
  charts/nextcloud/templates/job.yaml
  charts/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(nextcloud): remove config from chart
  apps/salamandre/cloud/nextcloud/appValues.prod.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.yaml
  charts/nextcloud/templates/_helpers.tpl
  charts/nextcloud/templates/job.yaml
  charts/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(nextcloud): enable redirect and remove useless data
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(ansible): configure nextcloud apps
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

fix(ansible): wait nextcloud is installed
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
Due: none

fix(ansible): update keycloak clients only if deployed
  ansible/roles/oidc/tasks/keycloak.yaml
Due: none

fix(keycloak): right check dev env and move values
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.dev.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(vagrant): use different storage pool
  docs/installation/development-sandbox.md
  vagrant/Vagrantfile
Due: none

feat(apps): deploy vaultwarden
  ansible/inventories/dev/host_vars/salamandre.yaml
  ansible/requirements.txt
  ansible/roles/salamandre_cloud/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
  ansible/roles/traefik_auth/files/middleware.yaml
  ansible/roles/traefik_auth/tasks/main.yaml
  ansible/roles/traefik_auth/templates/secret.yaml.j2
  ansible/salamandre.yaml
  apps/salamandre/cloud/vaultwarden/appValues.yaml
  apps/salamandre/cloud/vaultwarden/readme.md
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
  charts/vaultwarden/.helmignore
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/_helpers.tpl
  charts/vaultwarden/templates/configmap.yaml
  charts/vaultwarden/templates/deployment.yaml
  charts/vaultwarden/templates/ingress.yaml
  charts/vaultwarden/templates/pvc.yaml
  charts/vaultwarden/templates/secret.yaml
  charts/vaultwarden/templates/service.yaml
  charts/vaultwarden/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(vagrant): use env var for change storage pool
  docs/installation/development-sandbox.md
  vagrant/Vagrantfile
Due: none

fix(ansible): right create traefik basic auth
  ansible/roles/traefik_auth/tasks/main.yaml
  ansible/roles/traefik_auth/templates/htpasswd.j2
  ansible/roles/traefik_auth/templates/secret.yaml.j2
Due: none

fix(ansible): add missing keycloak release name var
  ansible/salamandre.yaml
Due: none

fix(ansible): wait traefik namespace
  ansible/roles/traefik_auth/tasks/main.yaml
Due: none

fix(ansible): right vaultwarden resource restart
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
Due: none

fix(ansible): right deploy vaultwarden
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
Due: none

fix(vaultwarden): right pass http container port
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(vaultwarden): right pass claim name of pvc
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): add missing vaultwarden namespace
  ansible/host_vars/salamandre.yaml
Due: none

fix(ansible): right vaultwarden resource restart again
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
Due: none

fix(vaultwarden): right disable smtp secret
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/deployment.yaml
  charts/vaultwarden/templates/secret.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(vaultwarden): use multiline script
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/configmap.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(vaultwarden): change storage path and indent file
  charts/vaultwarden/templates/deployment.yaml
  charts/vaultwarden/values.yaml
Due: charts:lint, charts:publish

fix(vaultwarden): right generate database uri
  apps/salamandre/cloud/vaultwarden/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(apps): configure smtp
  ansible/roles/vault_smtp/tasks/main.yaml
  ansible/salamandre.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/readme.md
  apps/salamandre/cloud/vaultwarden/appValues.yaml
  apps/salamandre/cloud/vaultwarden/readme.md
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/readme.md
  apps/salamandre/infrastructure/keycloak/readme.md
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(apps): deploy mailhog for dev env
  ansible/host_vars/salamandre.yaml
  ansible/inventories/dev/host_vars/salamandre.yaml
  ansible/roles/salamandre_dev/tasks/main.yaml
  ansible/salamandre.yaml
  apps/salamandre/cloud/nextcloud/appValues.dev.yaml
  apps/salamandre/cloud/nextcloud/appValues.prod.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/vaultwarden/appValues.dev.yaml
  apps/salamandre/dev/mailhog/appValues.yaml
  apps/salamandre/dev/mailhog/readme.md
  apps/salamandre/dev/mailhog/values.yaml
  apps/salamandre/infrastructure/argocd/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/appValues.dev.yaml
  scripts/apps/all.sh
  scripts/apps/diff.sh
Due: apps:lint, apps:build, apps:deploy
