Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

fix(ansible): enable zfs module
  ansible/roles/common/tasks/zfs.yaml
Due: none

fix(ansible): re add missing issuer on vault oidc
  ansible/roles/oidc/tasks/keycloak.yaml
Due: none

fix(cert-manager): right create ovh issuer
  apps/salamandre/system/cert-manager/appValues.prod.yaml
  apps/salamandre/system/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): right wait tls certificate
  ansible/salamandre.yaml
Due: none

fix(ansible): wait tls inside vault namespaace
  ansible/salamandre.yaml
Due: none

fix(ansible): increase argocd refresh timeout
  ansible/roles/argocd_vault/tasks/main.yaml
Due: none

fix(ansible): wait tls secret before patch
  ansible/baku.yaml
Due: none

fix(adguard): right configure host ports
  apps/baku/infrastructure/adguard/appValues.prod.yaml
  apps/baku/infrastructure/adguard/values.dev.yaml
  apps/baku/infrastructure/adguard/values.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/deployment.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(keycloak): enable ssl for smtp
  apps/salamandre/infrastructure/keycloak/values.prod.yaml
Due: apps:lint, apps:build, apps:deploy

chore: add editorconfig
  .editorconfig
Due: none

chore(apps): allow ignore differences
  charts/common-app/templates/application.yaml
  charts/common-app/values.schema.json
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(cert-manger): prevent infinite sync
  apps/salamandre/system/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(adguard-proxy): right define ingress
  apps/salamandre/infrastructure/adguard-proxy/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(argocd): allow post logout redirect for clients
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(scripts): support gen without appvalues file
  scripts/apps/_helm.sh
Due: none

refactor(apps): remove useless fullname override
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/system/openebs/appValues.yaml
  apps/baku/system/traefik/appValues.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/vault/appValues.yaml
  apps/salamandre/system/external-secrets/appValues.yaml
  apps/salamandre/system/openebs/appValues.yaml
  apps/salamandre/system/traefik/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

chore(editorconfig): reduce md indent size
  .editorconfig
Due: none

fix(scripts): right deploy gitlab-agent
  scripts/gitlab-agent.sh
Due: none

feat(gitlab-agent): allow homecluster agent
  apps/salamandre/infrastructure/gitlab-agent-homecluster/appValues.yaml
  apps/salamandre/infrastructure/gitlab-agent-homecluster/readme.md
  apps/salamandre/infrastructure/gitlab-agent-homecluster/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.yaml
  scripts/gitlab-agent.sh
Due: apps:lint, apps:build, apps:deploy

ci(kas): use right project id
  .gitlab/agents/gitops/config.yaml
Due: none

build: deploy manifests from 1ed36027
  manifests/baku/adguard.yaml
  manifests/baku/minio.yaml
  manifests/baku/openebs.yaml
  manifests/baku/traefik.yaml
  manifests/salamandre/adguard-proxy.yaml
  manifests/salamandre/argocd.yaml
  manifests/salamandre/cert-manager.yaml
  manifests/salamandre/external-secrets.yaml
  manifests/salamandre/gitlab-agent-homecluster.yaml
  manifests/salamandre/keycloak.yaml
  manifests/salamandre/minio.yaml
  manifests/salamandre/openebs.yaml
  manifests/salamandre/traefik.yaml
  manifests/salamandre/vault.yaml
Due: none

fix(scripts): right exclude common-app
  scripts/charts/all.sh
Due: none

refactor(minio): use official helm chart
  apps/baku/infrastructure/minio/appValues.dev.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/minio/values.dev.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/minio/appValues.dev.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.dev.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  charts/minio/.helmignore
  charts/minio/Chart.lock
  charts/minio/Chart.yaml
  charts/minio/templates/_helper_create_svcacct.txt
  charts/minio/templates/_helper_policy.tpl
  charts/minio/templates/configmap.yaml
  charts/minio/templates/post-install-create-svcacct-job.yaml
  charts/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(scripts): support delete apps/charts
  scripts/apps/diff.sh
  scripts/charts/diff.sh
Due: none

build: deploy manifests from 54dd4ad8
  manifests/baku/minio.yaml
  manifests/salamandre/minio.yaml
Due: none

fix(scripts): skip deploy dev apps in prod
  scripts/apps/all.sh
  scripts/apps/diff.sh
  scripts/charts/all.sh
Due: none

fix(manifests): remove dev app
  manifests/salamandre/mailhog.yaml
Due: none

feat(scripts): allow skip app
  scripts/apps/all.sh
  scripts/apps/diff.sh
Due: none

fix(scripts): right exclude common-app chart
  scripts/charts/all.sh
  scripts/charts/diff.sh
Due: none

chore(apps): disable wallabag
  .gitlab-ci.yml
  manifests/salamandre/wallabag.yaml
Due: none

ci(kas): allow manage already deployed apps
  .gitlab/agents/gitops/config.yaml
Due: none

fix(adguard): right expose container ports
  apps/baku/infrastructure/adguard/values.dev.yaml
  apps/baku/infrastructure/adguard/values.yaml
  charts/adguard/Chart.yaml
  charts/adguard/templates/deployment.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

build: deploy manifests from 805f4842
  manifests/baku/adguard.yaml
Due: none

fix(ansible): hash adguard password
  ansible/roles/baku_infrastructure/tasks/adguard.yaml
Due: none

refactor(minio): increase storage size
  apps/baku/infrastructure/minio/appValues.dev.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.dev.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(minio): right permissions for gitlab
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

docs(backup): explain restore nextcloud and gitlab
  docs/references/backup-restore.md
Due: none

docs(roadmap): update state
  docs/references/roadmap.md
Due: none

feat(gitlab): enable toolbox and backup cron
  apps/salamandre/infrastructure/gitlab/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab/appValues.prod.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

build: deploy manifests from 5b4023d4
  manifests/baku/minio.yaml
  manifests/salamandre/gitlab.yaml
  manifests/salamandre/minio.yaml
Due: none
