Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

apps:lint:
  stage: test
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh

apps:build:
  stage: build
  needs:
  - apps:lint
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - manifests/

apps:deploy:
  stage: deploy
  needs:
  - apps:build
  image:
    name: alpine/git:2.36.3
    entrypoint:
    - ''
  before_script:
  - git config user.email "${CI_EMAIL}"
  - git config user.name "${CI_USERNAME}"
  - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  ...

charts:lint:
  stage: test
  before_script:
  - ./scripts/charts/repositories.sh
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 1 hours
    paths:
    - charts/**/charts/
    - out/helm/

charts:publish:
  stage: deploy
  needs:
  - charts:lint
  before_script:
  - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
  - helm plugin install https://github.com/chartmuseum/helm-push
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh

feat(nextcloud): add deck app
  ansible/host_vars/salamandre.yaml
Due: none

revert(cert-manager): re use old version
  apps/salamandre/system/cert-manager/values.dev.yaml
Due: apps:lint, apps:build, apps:deploy

feat(nextcloud): allow external-secrets
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
Due: charts:lint, charts:publish

fix(nextcloud): pass fullname in external-secrets
  charts/nextcloud/Chart.yaml
  charts/nextcloud/values.yaml
Due: charts:lint, charts:publish

feat(vaultwarden): allow external-secrets
  charts/vaultwarden/Chart.lock
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/values.yaml
Due: charts:lint, charts:publish

fix(apps): use external-secrets for cloud apps
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
  apps/salamandre/cloud/nextcloud/appValues.dev.yaml
  apps/salamandre/cloud/nextcloud/appValues.prod.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/cloud/vaultwarden/appValues.yaml
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): use right admin token
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/admin.yaml
Due: none

refactor(ansible): simplify vault installation
  ansible/k3s_infrastructure.yaml
  ansible/k3s_system.yaml
  ansible/roles/apps_vault/tasks/argocd.yaml
  ansible/roles/apps_vault/tasks/auth_kubernetes.yaml
  ansible/roles/apps_vault/tasks/deploy.yaml
  ansible/roles/apps_vault/tasks/main.yaml
  ansible/roles/common/tasks/k3s.yaml
Due: none

feat(baku): deploy external-secrets
  ansible/host_vars/baku.yaml
  ansible/host_vars/salamandre.yaml
  ansible/k3s_system.yaml
  ansible/roles/apps_external-secrets/tasks/main.yaml
  ansible/roles/apps_external-secrets/templates/vault_store.yaml.j2
  ansible/roles/apps_system/tasks/config-syncer.yaml
  ansible/roles/apps_system/tasks/main.yaml
  ansible/roles/apps_system/tasks/openebs.yaml
  ansible/roles/apps_system/templates/openebs/zfspv-block.yaml.j2
  ansible/roles/apps_system/templates/openebs/zfspv.yaml.j2
  ansible/tasks/b_vault.yaml
  ansible/tasks/s_external-secrets.yaml
  ansible/templates/b_vault_rbac.yaml.j2
  apps/baku/system/external-secrets/appValues.yaml
  apps/baku/system/external-secrets/readme.md
  apps/baku/system/external-secrets/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(apps): improve tls management
  ansible/k3s_system.yaml
  ansible/tasks/s_cert-manager.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/system/traefik/appValues.yaml
  apps/salamandre/cloud/nextcloud/appValues.yaml
  apps/salamandre/cloud/vaultwarden/appValues.yaml
  apps/salamandre/dev/mailhog/appValues.yaml
  apps/salamandre/infrastructure/adguard-proxy/appValues.yaml
  apps/salamandre/infrastructure/adguard-proxy/values.dev.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/vault/appValues.yaml
  apps/salamandre/infrastructure/zitadel/appValues.yaml
  apps/salamandre/system/cert-manager/appValues.dev.yaml
  apps/salamandre/system/cert-manager/appValues.prod.yaml
  apps/salamandre/system/cert-manager/appValues.yaml
  apps/salamandre/system/traefik/appValues.yaml
  charts/adguard-proxy/Chart.yaml
  charts/adguard-proxy/templates/certificate.yaml
  charts/adguard-proxy/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

refactor(monitoring): remove avp for baku app
  apps/baku/infrastructure/monitoring/appValues.dev.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/infrastructure/monitoring/readme.md
  apps/baku/infrastructure/monitoring/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(charts): add forgejo
  charts/forgejo/.helmignore
  charts/forgejo/Chart.lock
  charts/forgejo/Chart.yaml
  charts/forgejo/values.yaml
Due: charts:lint, charts:publish

fix(ansible): deploy missing crds
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/apps_argocd/tasks/setup.yaml
Due: none

fix(ansible): disable ssl validation before cert-manager
  ansible/tasks/s_cert-manager.yaml
Due: none

fix(forgejo): custom runner
  charts/forgejo/Chart.lock
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/_helpers.tpl
  charts/forgejo/templates/init.yaml
  charts/forgejo/templates/runner.yaml
  charts/forgejo/values.yaml
Due: charts:lint, charts:publish

fix(forgejo): add missing volume
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/runner.yaml
Due: charts:lint, charts:publish

refactor(forgejo): clean runner
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/init.yaml
  charts/forgejo/templates/runner.yaml
  charts/forgejo/values.yaml
Due: charts:lint, charts:publish

fix(forgejo): right image and secret name
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/_helpers.tpl
  charts/forgejo/templates/runner.yaml
  charts/forgejo/values.yaml
Due: charts:lint, charts:publish

fix(forgejo): change register
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/runner.yaml
Due: charts:lint, charts:publish

refactor(forgejo): add config and rename things
  charts/forgejo/Chart.yaml
  charts/forgejo/templates/config.yaml
  charts/forgejo/templates/runner.yaml
  charts/forgejo/values.yaml
Due: charts:lint, charts:publish

refactor(apps): replace gitlab by forgejo
  README.md
  ansible/host_vars/salamandre.yaml
  ansible/roles/oidc/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/forgejo.yaml
  ansible/roles/salamandre_cloud/tasks/main.yaml
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
  ansible/roles/salamandre_infrastructure/templates/gitlab_root_pwd.yaml.j2
  ansible/roles/salamandre_infrastructure/templates/gitlab_runner.yaml.j2
  apps/salamandre/cloud/forgejo/appValues.dev.yaml
  apps/salamandre/cloud/forgejo/appValues.yaml
  apps/salamandre/cloud/forgejo/readme.md
  apps/salamandre/cloud/forgejo/values.dev.yaml
  apps/salamandre/cloud/forgejo/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab-agent/appValues.yaml
  apps/salamandre/infrastructure/gitlab-agent/readme.md
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/gitlab/appValues.dev.yaml
  apps/salamandre/infrastructure/gitlab/appValues.prod.yaml
  apps/salamandre/infrastructure/gitlab/appValues.yaml
  apps/salamandre/infrastructure/gitlab/readme.md
  apps/salamandre/infrastructure/minio/readme.md
  apps/salamandre/infrastructure/minio/values.yaml
  charts/gitlab/.helmignore
  charts/gitlab/Chart.lock
  charts/gitlab/Chart.yaml
  charts/gitlab/templates/_helpers.tpl
  charts/gitlab/values.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/installation/production/deployment.md
  docs/references/architecture/overview.md
  docs/references/backup-restore.md
  docs/references/roadmap.md
  scripts/charts/repositories.sh
  scripts/gen-credentials.sh
  scripts/gitlab-agent.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(nextcloud): forward ip from header
  apps/salamandre/cloud/nextcloud/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(traefik): forward source ip to proxy
  apps/baku/system/traefik/appValues.yaml
  apps/salamandre/system/traefik/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(traefik): make redirect default and clean useless things
  kubernetes/core/common/base/traefik/helm-release.yaml
  kubernetes/core/common/base/traefik/kustomization.yaml
  kubernetes/core/common/base/traefik/middleware.yaml
  kubernetes/core/common/base/traefik/tls-store.yaml
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/baku/base/monitoring/helm-release-patch.yaml
  kubernetes/services/salamandre/base/forgejo/helm-release.yaml
  kubernetes/services/salamandre/base/nextcloud/collabora/ingress.yaml
  kubernetes/services/salamandre/base/nextcloud/helm-release.yaml
  kubernetes/services/salamandre/base/vaultwarden/ingresses.yaml
  kubernetes/services/salamandre/base/wallabag/ingress.yaml
  kubernetes/services/salamandre/base/zitadel/helm-release.yaml
  kubernetes/services/salamandre/dev/mailhog/helm-release.yaml
  kubernetes/services/salamandre/production/adguard-proxy/ingress.yaml
  kubernetes/services/salamandre/production/adguard-proxy/middleware.yaml
  kubernetes/services/salamandre/production/adguard-proxy/middlewares.yaml
Due: none

fix(adguard-proxy): right use tlsoptions
  kubernetes/services/salamandre/production/adguard-proxy/ingress.yaml
Due: none

refactor(grafana): move dashboards to configmap
  ansible/host_vars/baku.yaml
  ansible/templates/flux_vars.yaml.j2
  kubernetes/config/baku/cluster-secrets.example.yaml
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_namespaces.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/views_pods.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/kubernetes/volumes_cluster.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/minio.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/nodeexporter.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/traefik.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/global.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmagent.json
  kubernetes/services/baku/base/monitoring/grafana/dashboards/victoriametrics/vmalert.json
  kubernetes/services/baku/base/monitoring/grafana/helm-release.yaml
  kubernetes/services/baku/base/monitoring/grafana/kustomization.yaml
  kubernetes/services/baku/base/monitoring/kustomization.yaml
  kubernetes/services/baku/base/monitoring/rules/kustomization.yaml
Due: none

feat(apps): add kubernetes dashboard
  ansible/tasks/s_apps_secrets.yaml
  kubernetes/charts/common/kubernetes-dashboard.yaml
  kubernetes/charts/common/kustomization.yaml
  kubernetes/services/baku/base/k8s_dashboard/kustomization.yaml
  kubernetes/services/baku/dev/kustomization.yaml
  kubernetes/services/baku/production/kustomization.yaml
  kubernetes/services/common/base/k8s_dashboard/helm-release.yaml
  kubernetes/services/common/base/k8s_dashboard/ingress.yaml
  kubernetes/services/common/base/k8s_dashboard/kustomization.yaml
  kubernetes/services/common/base/k8s_dashboard/middleware.yaml
  kubernetes/services/common/base/k8s_dashboard/namespace.yaml
  kubernetes/services/common/base/k8s_dashboard/secret.yaml
  kubernetes/services/salamandre/dev/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
  scripts/gen-credentials.sh
Due: none

chore(ansible): re disable log on store masterkey
  ansible/roles/oidc/tasks/zitadel.yaml
Due: none

fix(apps): use right namespace name for kubernetes dashboard
  kubernetes/services/baku/base/k8s_dashboard/kustomization.yaml
  kubernetes/services/baku/dev/kustomization.yaml
  kubernetes/services/baku/production/kustomization.yaml
  kubernetes/services/common/base/k8s-dashboard/helm-release.yaml
  kubernetes/services/common/base/k8s-dashboard/ingress.yaml
  kubernetes/services/common/base/k8s-dashboard/kustomization.yaml
  kubernetes/services/common/base/k8s-dashboard/middleware.yaml
  kubernetes/services/common/base/k8s-dashboard/namespace.yaml
  kubernetes/services/common/base/k8s-dashboard/secret.yaml
  kubernetes/services/salamandre/dev/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Due: none

refactor(apps): use common postgresql image
  kubernetes/core/salamandre/base/database/cnpg-cluster.yaml
  kubernetes/services/salamandre/base/forgejo/initdb.yaml
  kubernetes/services/salamandre/base/nextcloud/initdb.yaml
  kubernetes/services/salamandre/base/vaultwarden/initdb.yaml
  kubernetes/services/salamandre/base/wallabag/initdb.yaml
Due: none

fix(database): add timezone
  kubernetes/core/salamandre/base/database/cnpg-cluster.yaml
Due: none

fix(database): right initdb
  kubernetes/services/salamandre/base/forgejo/initdb.yaml
  kubernetes/services/salamandre/base/forgejo/secrets.yaml
  kubernetes/services/salamandre/base/nextcloud/initdb.yaml
  kubernetes/services/salamandre/base/nextcloud/secrets.yaml
  kubernetes/services/salamandre/base/vaultwarden/initdb.yaml
  kubernetes/services/salamandre/base/vaultwarden/secrets.yaml
  kubernetes/services/salamandre/base/wallabag/initdb.yaml
  kubernetes/services/salamandre/base/wallabag/secret.yaml
  kubernetes/services/salamandre/base/zitadel/secrets.yaml
Due: none

chore(vscode): fix python path
  .vscode/settings.json
Due: none

revert(apps): use ansible to generate database access
  ansible/host_vars/salamandre.yaml
  ansible/k3s_configure.yaml
  ansible/roles/apps_vault/tasks/apps_secrets.yaml
  ansible/roles/database_access/meta/argument_specs.yaml
  ansible/roles/database_access/tasks/main.yaml
  ansible/roles/oidc/tasks/zitadel.yaml
  ansible/tasks/s_apps_databases.yaml
  kubernetes/core/salamandre/base/database/cnpg-cluster.yaml
  kubernetes/core/salamandre/base/database/kustomization.yaml
  kubernetes/core/salamandre/base/database/secret.yaml
  kubernetes/core/salamandre/base/database/secrets.yaml
  kubernetes/services/salamandre/base/forgejo/initdb.yaml
  kubernetes/services/salamandre/base/forgejo/kustomization.yaml
  kubernetes/services/salamandre/base/forgejo/secrets.yaml
  kubernetes/services/salamandre/base/nextcloud/initdb.yaml
  kubernetes/services/salamandre/base/nextcloud/kustomization.yaml
  kubernetes/services/salamandre/base/nextcloud/secrets.yaml
  kubernetes/services/salamandre/base/vaultwarden/initdb.yaml
  kubernetes/services/salamandre/base/vaultwarden/kustomization.yaml
  kubernetes/services/salamandre/base/vaultwarden/secrets.yaml
  kubernetes/services/salamandre/base/wallabag/initdb.yaml
  kubernetes/services/salamandre/base/wallabag/kustomization.yaml
  kubernetes/services/salamandre/base/wallabag/secret.yaml
  kubernetes/services/salamandre/base/zitadel/helm-release.yaml
  kubernetes/services/salamandre/base/zitadel/secrets.yaml
Due: none

fix(ansible): prevent re create db and backup secrets
  ansible/k3s_configure.yaml
  ansible/roles/apps_vault/tasks/apps_secrets.yaml
  ansible/roles/database_access/tasks/main.yaml
  ansible/tasks/s_apps_secrets.yaml
Due: none

refactor(apps): move zitadel to core apps
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
  kubernetes/core/salamandre/base/zitadel/kustomization.yaml
  kubernetes/core/salamandre/base/zitadel/namespace.yaml
  kubernetes/core/salamandre/base/zitadel/secrets.yaml
  kubernetes/core/salamandre/dev/kustomization.yaml
  kubernetes/core/salamandre/production/kustomization.yaml
  kubernetes/services/salamandre/dev/kustomization.yaml
  kubernetes/services/salamandre/production/kustomization.yaml
Due: none

refactor(zitadel): rename console user
  ansible/roles/apps_zitadel/tasks/auth.yaml
  kubernetes/core/salamandre/base/zitadel/helm-release.yaml
Due: none

Path conditions:
  apps:lint: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:build: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:deploy: any of: apps/**/*.yaml, charts/common-app/**/*
  charts:lint: any of: charts/**/*
  charts:publish: any of: charts/**/*
