Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

apps:lint:
  stage: test
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh

apps:build:
  stage: build
  needs:
  - apps:lint
  script:
  - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - manifests/

apps:deploy:
  stage: deploy
  needs:
  - apps:build
  image:
    name: alpine/git:2.36.3
    entrypoint:
    - ''
  before_script:
  - git config user.email "${CI_EMAIL}"
  - git config user.name "${CI_USERNAME}"
  - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  ...

charts:lint:
  stage: test
  before_script:
  - ./scripts/charts/repositories.sh
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
    - charts/**/charts/
    - out/helm/

charts:publish:
  stage: deploy
  needs:
  - charts:lint
  before_script:
  - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
  - helm plugin install https://github.com/chartmuseum/helm-push
  script:
  - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh

feat(ansible): don't create unwanted namespaces
  ansible/host_vars/baku.yaml
  ansible/host_vars/salamandre.yaml
  ansible/roles/labeled_namespace/tasks/main.yaml
Due: none

fix(ansible): force update argocd helm repo
  ansible/roles/apps_argocd/tasks/main.yaml
Due: none

chore(charts): update gitlab, nextcloud and cert-manager
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  charts/cert-manager/Chart.yaml
  charts/gitlab/Chart.yaml
  charts/nextcloud/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): update versions
  apps/baku/system/traefik/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  apps/salamandre/system/external-secrets/values.yaml
  apps/salamandre/system/traefik/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(minio): update to last version
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(argocd): migrate cmp to sidecar
  apps/salamandre/infrastructure/argocd/appValues.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  charts/common-app/templates/application.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(charts): update dependencies lock
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  charts/cert-manager/Chart.lock
  charts/cert-manager/Chart.yaml
  charts/gitlab/Chart.lock
  charts/gitlab/Chart.yaml
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(argocd): right deploy with cmp sidecar
  ansible/roles/apps_argocd/tasks/main.yaml
  apps/salamandre/infrastructure/argocd/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(argocd): right configure avp plugin
  apps/salamandre/infrastructure/argocd/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(minio): right create/update svcacct
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

revert(minio): use old way to create root user
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(minio): use right root user
  apps/baku/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(minio): use job for create svc
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/minio/values.dev.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/minio/appValues.dev.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.dev.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  charts/minio/.helmignore
  charts/minio/Chart.lock
  charts/minio/Chart.yaml
  charts/minio/templates/_helper_create_svcacct.txt
  charts/minio/templates/_helper_policy.tpl
  charts/minio/templates/configmap.yaml
  charts/minio/templates/post-install-create-svcacct-job.yaml
  charts/minio/values.yaml
  scripts/charts/repositories.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(minio): right pass values
  apps/baku/infrastructure/minio/appValues.dev.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(ansible): remove useless code
  ansible/baku.yaml
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/apps_external-secrets/tasks/main.yaml
  ansible/roles/argocd_cluster/tasks/main.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/kubed_cluster/tasks/main.yaml
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/traefik_auth/tasks/main.yaml
Due: none

refactor(ansible): use common role for vault secrets
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/vault_secrets/defaults/main.yaml
  ansible/roles/vault_secrets/meta/argument_specs.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/roles/vault_smtp/tasks/main.yaml
  ansible/salamandre.yaml
Due: none

feat(ansible): add credentials for ovh cert-manager
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/apps_cert-manager/tasks/main.yaml
  ansible/roles/apps_vault/tasks/argocd.yaml
  ansible/roles/apps_vault/tasks/auth_kubernetes.yaml
  ansible/roles/apps_vault/tasks/deploy.yaml
  ansible/roles/apps_vault/tasks/external-secrets.yaml
  ansible/roles/apps_vault/tasks/initialize.yaml
  ansible/roles/apps_vault/tasks/main.yaml
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/vault_policy/tasks/main.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/salamandre.yaml
  apps/salamandre/system/cert-manager/appValues.prod.yaml
Due: apps:lint, apps:build, apps:deploy

feat(ansible): add backup scripts
  .vscode/settings.json
  ansible/roles/backup/files/backup_sudoer
  ansible/roles/backup/files/barman_sudoer
  ansible/roles/backup/files/scripts/barman-restore.sh
  ansible/roles/backup/files/scripts/restore.sh
  ansible/roles/backup/tasks/barman.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/backup/tasks/minio.yaml
  ansible/roles/backup/tasks/scripts.yaml
  ansible/roles/backup/templates/.pgpass.j2
  ansible/roles/backup/templates/barman.conf.j2
  ansible/roles/backup/templates/mc_config.json.j2
  ansible/roles/backup/templates/scripts/backup.sh
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/database/tasks/main.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/site.yaml
  apps/baku/infrastructure/minio/values.yaml
  docs/README.md
  docs/references/backup-restore.md
Due: apps:lint, apps:build, apps:deploy

feat(ansible): add motherboard sensor and fancontrol
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/salamandre_sensors/files/fancontrol/it8686
  ansible/roles/salamandre_sensors/files/sensors/it8686
  ansible/roles/salamandre_sensors/handlers/main.yaml
  ansible/roles/salamandre_sensors/meta/argument_specs.yaml
  ansible/roles/salamandre_sensors/tasks/fancontrol.yaml
  ansible/roles/salamandre_sensors/tasks/main.yaml
  ansible/roles/salamandre_sensors/tasks/module.yaml
  ansible/salamandre.yaml
Due: none

fix(minio): right update and create service accounts
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/values.yaml
Due: apps:lint, apps:build, apps:deploy

feat(ansible): add dyndns
  ansible/baku.yaml
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/roles/baku_dyndns/tasks/main.yaml
  ansible/roles/baku_dyndns/templates/ddclient.conf.j2
Due: none

chore(charts): bump to release
  apps/baku/infrastructure/adguard/values.dev.yaml
  apps/baku/infrastructure/adguard/values.yaml
  apps/baku/infrastructure/minio/values.dev.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/baku/system/kubed/values.dev.yaml
  apps/baku/system/kubed/values.yaml
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
  apps/salamandre/infrastructure/adguard-proxy/values.dev.yaml
  apps/salamandre/infrastructure/adguard-proxy/values.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/infrastructure/minio/values.dev.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  apps/salamandre/system/cert-manager/values.yaml
  apps/salamandre/system/kubed/values.dev.yaml
  apps/salamandre/system/kubed/values.yaml
  charts/adguard-proxy/Chart.yaml
  charts/adguard/Chart.yaml
  charts/cert-manager/Chart.yaml
  charts/gitlab/Chart.yaml
  charts/kubed/Chart.yaml
  charts/minio/Chart.yaml
  charts/nextcloud/Chart.yaml
  charts/vaultwarden/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): update versions
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): wait crd instead namespace
  ansible/roles/traefik_auth/tasks/main.yaml
Due: none

chore(vscode): remove useless file associations
  .vscode/settings.json
Due: none

build: deploy manifests from 685b2ca4
  manifests/baku/adguard.yaml
  manifests/baku/kubed.yaml
  manifests/baku/minio.yaml
  manifests/baku/openebs.yaml
  manifests/baku/traefik.yaml
  manifests/salamandre/adguard-proxy.yaml
  manifests/salamandre/argocd.yaml
  manifests/salamandre/cert-manager.yaml
  manifests/salamandre/external-secrets.yaml
  manifests/salamandre/gitlab-agent.yaml
  manifests/salamandre/gitlab.yaml
  manifests/salamandre/keycloak.yaml
  manifests/salamandre/mailhog.yaml
  manifests/salamandre/nextcloud.yaml
  manifests/salamandre/traefik.yaml
  manifests/salamandre/vault.yaml
  manifests/salamandre/vaultwarden.yaml
  manifests/salamandre/wallabag.yaml
Due: none

fix(make): right close string
  Makefile
Due: none

feat(make): create command for only provision cluster
  Makefile
  docs/installation/production/deployment.md
Due: none

chore(ansible): doc and comment motherboard chip
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
Due: none

feat(ansible): allow customize k3s domain
  ansible/host_vars/baku.yaml
  ansible/host_vars/salamandre.yaml
  ansible/roles/common/tasks/k3s.yaml
  docs/installation/production/prerequisites.md
Due: none

fix(ansible): install sensors package
  ansible/roles/salamandre_sensors/tasks/main.yaml
  ansible/roles/salamandre_sensors/tasks/module.yaml
Due: none

fix(ansible): manual define host prefix (ip)
  ansible/inventories/dev/host_vars/salamandre.yaml
  ansible/inventories/prod/host_vars/baku.yaml.tpl
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/coredns/tasks/main.yaml
  ansible/roles/database/tasks/main.yaml
  ansible/roles/salamandre_sensors/tasks/module.yaml
Due: none

fix(ansible): right manifests folder path
  ansible/inventories/prod/group_vars/all.yaml
Due: none

fix(keycloak): revert to 19.0.3
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(charts): remove trailing space
  charts/common-app/templates/application.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

ci: diable useless step in merge request
  .gitlab/ci/apps.yaml
  .gitlab/ci/charts.yaml
Due: none

fix(ansible): right update helm argocd repo
  ansible/roles/apps_argocd/tasks/main.yaml
Due: none

fix(ansible): wait tls certificate before deploy
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/vault_policy/tasks/main.yaml
  ansible/roles/vault_secrets/defaults/main.yaml
  ansible/roles/vault_secrets/meta/argument_specs.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/salamandre.yaml
Due: none

fix(cert-manager): right name ovh subchart
  apps/salamandre/system/cert-manager/values.dev.yaml
  apps/salamandre/system/cert-manager/values.yaml
  charts/cert-manager/Chart.yaml
  charts/cert-manager/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible) re add some required skip tls
  ansible/roles/apps_vault/tasks/argocd.yaml
  ansible/roles/vault_policy/defaults/main.yaml
  ansible/roles/vault_policy/meta/argument_specs.yaml
  ansible/roles/vault_policy/tasks/main.yaml
Due: none

Path conditions:
  apps:lint: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:build: any of: apps/**/*.yaml, charts/common-app/**/*
  apps:deploy: any of: apps/**/*.yaml, charts/common-app/**/*
  charts:lint: any of: charts/**/*
  charts:publish: any of: charts/**/*
