Repository sebtiz13/homecluster: changes, and which GitLab CI jobs are due for each by the changed paths.
All: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

.gitlab/ci/apps.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

apps:lint:
  stage: test
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/lint.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:build:
  stage: build
  needs: [apps:lint]
  script:
    - ./scripts/apps/${SCRIPT:-diff}.sh ./scripts/apps/build.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - manifests/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

apps:deploy:
  stage: deploy
  needs: [apps:build]
  image:
    name: alpine/git:2.36.3
    entrypoint: [""]
  before_script:
    - git config user.email "${CI_EMAIL}"
    - git config user.name "${CI_USERNAME}"
    - git remote set-url --push origin "https://${CI_TOKEN_NAME}:${CI_ACCESS_TOKEN}@gitlab.com/${CI_PROJECT_PATH}.git"
  script:
    - git add -f manifests/**/*.yaml # Force add manifests since we .gitignored it
    - 'git commit -m "build: deploy manifests from $CI_COMMIT_SHORT_SHA" -m "[skip ci]" || echo "No changes, nothing to commit!"'
    - git push origin HEAD:$CI_COMMIT_REF_NAME # Pushes to the same branch as the trigger
  rules:
    - if: $CI_PIPELINE_SOURCE == "web" && $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - apps/**/*.yaml
        - charts/common-app/**/*

.gitlab/ci/charts.yaml:

# yaml-language-server: $schema=https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/assets/javascripts/editor/schema/ci.json

charts:lint:
  stage: test
  before_script:
    - ./scripts/charts/repositories.sh
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/lint.sh
  artifacts:
    expire_in: 2 minutes
    paths:
      - charts/**/charts/
      - out/helm/
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      variables:
        SCRIPT: all
    - changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

charts:publish:
  stage: deploy
  needs: [charts:lint]
  before_script:
    - '[ "$CI_COMMIT_BRANCH" = "develop" ] && HELM_CHANNEL=devel'
    - helm plugin install https://github.com/chartmuseum/helm-push
  script:
    - ./scripts/charts/${SCRIPT:-diff}.sh ./scripts/charts/deploy.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "web"
      when: manual
      variables:
        SCRIPT: all
    - if: $CI_COMMIT_BRANCH == "main"
      changes:
        - charts/**/*
    - changes: # Exclude `charts/common-app`
        - charts/common-app/**/*
      when: manual

chore(cert-manager): update version
  charts/cert-manager/Chart.lock
  charts/cert-manager/Chart.yaml
Due: charts:lint, charts:publish

chore(nextcloud): update version
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  charts/nextcloud/Chart.lock
  charts/nextcloud/Chart.yaml
  charts/nextcloud/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(adguard): update version
  apps/baku/infrastructure/adguard/values.dev.yaml
  charts/adguard/Chart.yaml
  charts/adguard/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(minio): prevent stuck state when update
  apps/baku/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): use right ip for coredns and database
  ansible/inventories/dev/host_vars/salamandre.yaml
  ansible/inventories/prod/host_vars/salamandre.yaml.tpl
  ansible/roles/coredns/tasks/main.yaml
  ansible/roles/database/tasks/main.yaml
Due: none

chore(apps): update version
  apps/baku/infrastructure/adguard/values.yaml
  apps/baku/infrastructure/minio/values.yaml
  apps/baku/system/openebs/values.yaml
  apps/baku/system/traefik/values.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab-agent-homecluster/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  apps/salamandre/infrastructure/keycloak/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  apps/salamandre/system/cert-manager/values.dev.yaml
  apps/salamandre/system/cert-manager/values.yaml
  apps/salamandre/system/external-secrets/values.yaml
  apps/salamandre/system/openebs/values.yaml
  apps/salamandre/system/traefik/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(kubed): update chart url
  apps/baku/system/kubed/readme.md
  apps/salamandre/system/kubed/readme.md
  charts/kubed/Chart.yaml
  charts/kubed/README.md
Due: charts:lint, charts:publish

chore(apps): right keycloak urls
  apps/salamandre/infrastructure/keycloak/readme.md
Due: none

chore(apps): update charts versions
  apps/baku/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/values.yaml
  apps/salamandre/infrastructure/vault/values.yaml
  apps/salamandre/system/external-secrets/values.yaml
Due: apps:lint, apps:build, apps:deploy

chore(ansible): update kubernetes-validate to 1.27
  ansible/requirements.txt
Due: none

refactor: use python venv
  .gitignore
  .vscode/settings.json
  Makefile
  ansible/baku.yaml
  ansible/host_vars/localhost.yaml
  ansible/requirements.txt
  ansible/roles/apps_argocd/handlers/main.yaml
  ansible/roles/apps_argocd/tasks/main.yaml
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/common/handlers/main.yaml
  ansible/roles/common/tasks/k3s.yaml
  ansible/roles/database_access/tasks/main.yaml
  ansible/roles/kubed_cluster/tasks/main.yaml
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/salamandre.yaml
  docs/installation/development-sandbox.md
  scripts/ansible.sh
Due: none

fix(ansible): ignore certs verif for vault queries
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/salamandre.yaml
Due: none

fix(ansible): use k3s 1.26
  ansible/group_vars/all.yaml
Due: none

fix(apps): use openebs class for vault pvc
  apps/salamandre/infrastructure/vault/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

fix(ansible): wait openebs for deploy classes
  ansible/roles/apps_system/tasks/main.yaml
Due: none

chore(gitlab): update version
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  charts/gitlab/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): right validate certificate for vault calls
  ansible/roles/backup/tasks/main.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/vault_policy/tasks/main.yaml
  ansible/roles/vault_secrets/tasks/main.yaml
  ansible/salamandre.yaml
  scripts/ansible.sh
Due: none

docs(installation): right list disabled apps with oidc
  docs/installation/development-sandbox.md
Due: none

fix(ansible): wait vault tls certificate and skip verif before
  ansible/salamandre.yaml
Due: none

chore(vaultwarden): update version
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/templates/deployment.yaml
  charts/vaultwarden/templates/ingress.yaml
  charts/vaultwarden/templates/service.yaml
  charts/vaultwarden/values.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): update version
  apps/salamandre/infrastructure/argocd/values.yaml
  apps/salamandre/infrastructure/gitlab-agent-homecluster/values.yaml
  apps/salamandre/infrastructure/gitlab-agent/values.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
Due: apps:lint, apps:build, apps:deploy

refactor(ansible): remove adguard on baku
  ansible/roles/baku_infrastructure/tasks/adguard.yaml
  ansible/roles/baku_infrastructure/tasks/main.yaml
  apps/baku/infrastructure/adguard/appValues.prod.yaml
  apps/baku/infrastructure/adguard/appValues.yaml
  apps/baku/infrastructure/adguard/readme.md
  apps/baku/infrastructure/adguard/values.dev.yaml
  apps/baku/infrastructure/adguard/values.yaml
  charts/adguard/.helmignore
  charts/adguard/Chart.yaml
  charts/adguard/templates/_helpers.tpl
  charts/adguard/templates/deployment.yaml
  charts/adguard/templates/ingress.yaml
  charts/adguard/templates/pvc.yaml
  charts/adguard/templates/secret.yaml
  charts/adguard/templates/service.yaml
  charts/adguard/templates/serviceaccount.yaml
  charts/adguard/templates/traefik/middleware.yaml
  charts/adguard/templates/traefik/tlsoptions.yaml
  charts/adguard/values.yaml
  docs/installation/development-sandbox.md
  docs/installation/post-installation.md
  docs/references/roadmap.md
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

chore(apps): bump charts versions
  apps/salamandre/cloud/nextcloud/values.dev.yaml
  apps/salamandre/cloud/nextcloud/values.yaml
  apps/salamandre/cloud/vaultwarden/values.dev.yaml
  apps/salamandre/cloud/vaultwarden/values.yaml
  apps/salamandre/infrastructure/gitlab/values.dev.yaml
  apps/salamandre/infrastructure/gitlab/values.yaml
  charts/gitlab/Chart.yaml
  charts/nextcloud/Chart.yaml
  charts/vaultwarden/Chart.yaml
Due: apps:lint, apps:build, apps:deploy, charts:lint, charts:publish

fix(ansible): right restart gitlab resources
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
Due: none

refactor(charts): update version, shorthen fullname and drop argocd thing
  charts/monitoring/Chart.lock
  charts/monitoring/Chart.yaml
  charts/monitoring/values.yaml
Due: charts:lint, charts:publish

refactor(apps): use new gitlab runner token
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/salamandre_infrastructure/templates/gitlab_runner.yaml.j2
  apps/salamandre/infrastructure/gitlab/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(grafana): upload dashboards
  grafana_dashboards/kubernetes/views_global.json
  grafana_dashboards/kubernetes/views_pods.json
  grafana_dashboards/kubernetes/volumes_cluster.json
  grafana_dashboards/minio.json
  grafana_dashboards/nodeexporter.json
  grafana_dashboards/traefik.json
  grafana_dashboards/victoriametrics/global.json
  grafana_dashboards/victoriametrics/vmagent.json
  grafana_dashboards/victoriametrics/vmalert.json
Due: none

refactor(charts): remove default grafana charts
  charts/monitoring/Chart.yaml
  charts/monitoring/values.yaml
Due: charts:lint, charts:publish

feat: add cluster monitoring
  README.md
  ansible/roles/baku_infrastructure/tasks/main.yaml
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
  ansible/roles/common/tasks/main.yaml
  ansible/roles/common/tasks/monitoring.yaml
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/salamandre_infrastructure/tasks/main.yaml
  ansible/roles/salamandre_infrastructure/tasks/monitoring.yaml
  ansible/roles/traefik_auth/defaults/main.yaml
  ansible/roles/traefik_auth/files/middleware.yaml
  ansible/roles/traefik_auth/meta/argument_specs.yaml
  ansible/roles/traefik_auth/tasks/main.yaml
  ansible/roles/traefik_auth/templates/htpasswd.j2
  ansible/roles/traefik_auth/templates/middleware.yaml.j2
  ansible/roles/traefik_auth/templates/secret.yaml.j2
  ansible/salamandre.yaml
  apps/baku/infrastructure/minio/appValues.yaml
  apps/baku/infrastructure/monitoring/appValues.dev.yaml
  apps/baku/infrastructure/monitoring/appValues.yaml
  apps/baku/infrastructure/monitoring/readme.md
  apps/baku/infrastructure/monitoring/values.dev.yaml
  apps/baku/infrastructure/monitoring/values.yaml
  apps/baku/system/traefik/appValues.yaml
  apps/salamandre/infrastructure/keycloak/values.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/monitoring/appValues.dev.yaml
  apps/salamandre/infrastructure/monitoring/appValues.yaml
  apps/salamandre/infrastructure/monitoring/readme.md
  apps/salamandre/infrastructure/monitoring/values.dev.yaml
  apps/salamandre/infrastructure/monitoring/values.yaml
  apps/salamandre/system/traefik/appValues.yaml
  docs/installation/development-sandbox.md
  docs/references/architecture/overview.md
  docs/references/roadmap.md
  scripts/charts/repositories.sh
  scripts/gen-credentials.sh
Due: apps:lint, apps:build, apps:deploy

fix(scripts): prevent deploy dev apps in production
  scripts/apps/all.sh
  scripts/apps/diff.sh
Due: none

fix(minio): use recreate for update strategy
  apps/baku/infrastructure/minio/appValues.yaml
  apps/salamandre/infrastructure/minio/appValues.yaml
Due: apps:lint, apps:build, apps:deploy

feat(scripts): lint all modified apps and charts on merge request pipeline
  scripts/apps/diff.sh
  scripts/charts/diff.sh
Due: none

fix(ansible): force deploy monitoring crd
  ansible/roles/common/tasks/main.yaml
Due: none

fix(ansible): make sensors modprobe persistent
  ansible/roles/salamandre_sensors/handlers/main.yaml
Due: none

fix(minio): update service accounts secret key
  .gitignore
  Makefile
  ansible/group_vars/all.yaml
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
Due: none

chore: update to kubernetes 1.27
  ansible/group_vars/all.yaml
  apps/baku/system/openebs/values.yaml
  apps/salamandre/system/openebs/values.yaml
Due: apps:lint, apps:build, apps:deploy

ci: update images version
  .gitlab-ci.yml
  .gitlab/ci/apps.yaml
Due: none

refactor(ansible): remove useless task and make modprobe persistent
  ansible/roles/common/tasks/zfs.yaml
Due: none

chore(ansible): fix lint errors
  ansible/roles/apps_cert-manager/tasks/main.yaml
  ansible/roles/apps_vault/tasks/argocd.yaml
  ansible/roles/apps_vault/tasks/auth_kubernetes.yaml
  ansible/roles/apps_vault/tasks/external-secrets.yaml
  ansible/roles/apps_vault/templates/es_store.yaml.j2
  ansible/roles/argocd_sync/tasks/main.yaml
  ansible/roles/argocd_vault/tasks/main.yaml
  ansible/roles/baku_infrastructure/tasks/minio.yaml
  ansible/roles/baku_infrastructure/tasks/monitoring.yaml
  ansible/roles/oidc/tasks/keycloak.yaml
  ansible/roles/oidc/tasks/vault_oidc.yaml
  ansible/roles/salamandre_cloud/tasks/nextcloud.yaml
  ansible/roles/salamandre_cloud/tasks/vaultwarden.yaml
  ansible/roles/salamandre_cloud/tasks/wallabag.yaml
  ansible/roles/salamandre_infrastructure/tasks/gitlab.yaml
  ansible/roles/salamandre_infrastructure/tasks/minio.yaml
Due: none
